* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
	font-weight: 700;
	font-family: 'Poppins', 'Roboto', 'Noto', sans-serif;
}

body {
	margin: 0;
	color: #333;
	font-size: 64px;
	animation: fadein .2s;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

a {
	display: inline-flex;
	margin: 0 16px;
	padding: 16px 0;
	color: inherit;
	text-decoration: none;
	align-items: center;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	display: flex;
	padding: 16px;
	font-size: 18px;
}

.flex {
	display: flex;
	flex-grow: 1;
}

.form {
	width: 100%;
}

input {
	padding: 16px 32px;
	width: 100%;
	color: inherit;
	font-size: inherit;
}

::placeholder {
	color: #b2b2b2;
}

::selection {
	background-color: #000;
	color: #fff;
}

#erbox {
	padding: 16px 32px;
	color: #2e3c63;
	animation: fadeout;
	animation-fill-mode: forwards;
}

#alias {
	padding: 16px 32px;
	color: #58DE71;
}

#sucess {
	padding: 16px 32px;
	color: #58DE71;
}

button {
	color:#2e3c63;
	background-color:transparent;
	text-align: left;
	font-size: inherit;
	padding: 16px 32px;
	cursor: pointer;
}

@media all and (max-width: 720px) {
	body {
		font-size: 32px;
	}

	footer {
		flex-direction: column;
	}
}
