@font-face {
	font-family: 'NotoSansTC-Regular';
	src:url(../font/NotoSansTC-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body:before {
	display: block;
	width: 100%;
	height: 4px;
	background-image: linear-gradient(to left, #08AEEA, #2AF598, #21D4FD, #B721FF);
	content: '';
}

html, body {
	margin: 0px;
	padding: 0px;
	/*
	background: #FFFFFF;
	*/
	color: #8898AA;
	height: 100%;
	overflow: hidden;
	font-family: 'NotoSansTC-Regular', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	outline: none;
	color: #28b351;
}

img {
	max-width: 100%;
	height: auto;
	border: 0px;
}

li, ul {
	list-style: none;
}

button {
	position:fixed;
	width: 70px;
	height: 70px;
	bottom: 25px;
	right: 35px;
	color: #28b351;
	background-color:transparent;
	/*
	background: #FFFFFF;
	box-shadow: 0 2px 25px 0 rgba(47,159,234,0.2);
	*/
	margin: 0px;
	padding: 10px;
	border-radius: 50px;
	border: none;
	outline: none;
}

/*
button:hover {
	transform: translateY(-1px);
}
*/

textarea {
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 25px;
	resize: none;
	border: none;
	outline: none;
	background-color:transparent;
	/*
	background: #FFFFFF;
	*/
	color: #8898AA;
	caret-color: #28b351;
	font-family: 'NotoSansTC-Regular', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
}

article {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	height: 100vh;
	color: #8898AA;
	/*
	background: #FFFFFF;
	*/
	font-family: 'NotoSansTC-Regular', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
}

::selection {
	background: #28b351;
	color: #FFFFFF;
}